body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #8A05BE; /* Cor de fundo Nubank */
    color: white;
}

h1 {
    color: black; /* Barra de título preta */
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #820AD1; /* Cor do botão Nubank */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5A007D;
}
